body {
    overflow-x: hidden;
    font-family: 'Roboto', 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #f8f8f8;
}
  
p { line-height: 1.75; }
  
a { color: #fed136; }
a:hover { color: #fec503; }
  
.text-primary { color: #fed136 !important; }
  
h1, h2, h3 {
    font-weight: 900;
    font-family: 'Montserrat', 'Youth', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h4, h5, h6 {
    font-weight: 700;
    font-family: 'Montserrat', 'Youth', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.w100 { font-weight: 100; }
.w200 { font-weight: 200; }
.w300 { font-weight: 300; }
.w400 { font-weight: 400; }
.w500 { font-weight: 500; }
.w600 { font-weight: 600; }
.w700 { font-weight: 700; }
.w800 { font-weight: 800; }
.w900 { font-weight: 900; }
  
.btn .badge {
    font-family: 'Montserrat', 'Youth', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}
.btn-xl {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 20px 40px;
}
.btn.btn-primary, .badge.badge-primary {
    background-color:#1967be;
    border-color:#11355e;
    color:whitesmoke;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow:2px 1px 1px 2px 1px rgba(0,0,0,0.2);
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus
.badge.badge-primary:hover, .badge.badge-primary:active, .badge.badge-primary:focus {
    background-color:#0b478b !important;
    border-color:#11355e !important;
    color:white;
    text-shadow: 1px 1px black;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
}
.btn.btn-secondary, .badge.badge-secondary {
    background-color:#555555;
    border-color:#202020;
    color:whitesmoke;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow:2px 1px 1px 2px 1px rgba(0,0,0,0.2);
}
.btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus
.badge.badge-secondary:hover, .badge.badge-secondary:active, .badge.badge-secondary:focus {
    background-color:#252525 !important;
    border-color:#202020 !important;
    color:white;
    text-shadow: 1px 1px black;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
}
.btn.btn-success, .badge.badge-success {
    background-color:#74af00;
    border-color:#314704;
    color:whitesmoke;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow:2px 1px 1px 2px 1px rgba(0,0,0,0.2);
}
.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success:focus
.badge.badge-success:hover, .badge.badge-success:active, .badge.badge-success:focus {
    background-color:#456701 !important;
    border-color:#314704 !important;
    color:white;
    text-shadow: 1px 1px black;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
}
.btn.btn-info, .badge.badge-info {
    background-color:#9631c9;
    border-color:#4f166b;
    color:whitesmoke;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow:2px 1px 1px 2px 1px rgba(0,0,0,0.2);
}
.btn.btn-info:hover, .btn.btn-info:active, .btn.btn-info:focus
.badge.badge-info:hover, .badge.badge-info:active, .badge.badge-info:focus {
    background-color:#591979 !important;
    border-color:#4f166b !important;
    color:white;
    text-shadow: 1px 1px black;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
}
.btn.btn-warning, .badge.badge-warning {
    background-color:#ff7700;
    border-color:#9e4c04;
    color:whitesmoke;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow:2px 1px 1px 2px 1px rgba(0,0,0,0.2);
}
.btn.btn-warning:hover, .btn.btn-warning:active, .btn.btn-warning:focus
.badge.badge-warning:hover, .badge.badge-warning:active, .badge.badge-warning:focus {
    background-color:#cf6203 !important;
    border-color:#9e4c04 !important;
    color:white;
    text-shadow: 1px 1px black;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
}
.btn.btn-danger, .badge.badge-danger {
    background-color:#cc0000;
    border-color:#7a0707;
    color:whitesmoke;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow:2px 1px 1px 2px 1px rgba(0,0,0,0.2);
}
.btn.btn-danger:hover, .btn.btn-danger:active, .btn.btn-danger:focus
.badge.badge-danger:hover, .badge.badge-danger:active, .badge.badge-danger:focus {
    background-color:#860202 !important;
    border-color:#7a0707 !important;
    color:white;
    text-shadow: 1px 1px black;
    -webkit-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    -moz-box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.7);
}

#topButton {
    width: 50px;
    height: 30px;
    border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    position: fixed;
    bottom: 0;
    right: 30px;
    z-index: 99;
    padding: 3px 0 0 0;
}
  
.modal { overflow: hidden; }
.modal-header { cursor: move; } 

/* Navigation Menu */
#mainNav { background-color: #050505; }
#mainNav .navbar-toggler, #footerNav .navbar-toggler {
    right: 0;
    padding: 3px 5px;
    color: white;
    border: 0;
    background-color: black;
}
#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Montserrat', 'Youth', 'Helvetica Neue', Helvetica, Arial, cursive;
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover { color: #fec503; }
#mainNav .navbar-nav .nav-item .nav-link {
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover { color: #fed136; }
@media (min-width: 992px) {
    #mainNav {
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .05);
    }
    #mainNav .navbar-brand {
        font-size: 1.5em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #050505;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 5px 0;
    }
}

#topMenuArea .dropdown-toggle::after { display:none }
#topMenuArea .dropdown-menu {
    border-radius: 0;
    background-color: #501717;
    border: 1px solid #501717;
    margin-top: -5px;
}
#topMenuArea .dropdown-item { 
    color:beige; 
    background-color: #ac3333;
    border-bottom: 1px solid #501717;
}  
#topMenuArea .dropdown-item:hover, #topMenuArea .dropdown-item:active { 
    color:#fed136; 
    background-color: #852525;

}  
/* Intro */
header.intro {
    text-align: center;
    color: white;
    background-image: url("/images/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header.intro .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}
header.intro .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Nanum Myeongjo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header.intro .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 59px;
    font-family: 'Montserrat', 'Youth', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
    header.intro .intro-text {
        padding-top: 350px;
        padding-bottom: 200px;
    }
    header.intro .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', 'Nanum Myeongjo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    header.intro .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 59px;
        font-family: 'Montserrat', 'Youth', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}

/* Footer */
footer { padding: 25px 0 0 0; }
footer .title {
    font-size: 1.25rem;
    font-weight: 700;
    color:#101010;
}
footer ul { 
    list-style: none; /* Remove HTML bullets */ 
    padding: 0 3px 25px 0;
}
footer ul > li > a {
    font-size: 1rem;
    color:#101010;
}
footer ul > li > a:hover {
    text-decoration: none;
    color:#2b65cf;
}
footer .container-fluid {
    padding: 20px 50px;
    background-color:#101010;
    color:#909090;
}
footer a { color:#a0a0a0; }
footer a:hover { color:#4d7bfa; text-decoration: none; }
footer a.social { font-size: 1.25rem; }

/* Section Base */
section { padding: 100px 0; }
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 25px;
    color:wheat;
}
section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 65px;
    color:rgb(250, 198, 101);
    font-family: 'Montserrat', 'Nanum Myeongjo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

/* Contact Us */
section#contact {
    background-color: #212529;
    background-image: url("/images/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
}
section#contact .form-group { margin-bottom: 25px; }
section#contact .form-group input,
section#contact .form-group textarea { 
    padding: 20px;
    font-size: 1rem;
}
section#contact .form-group input.form-control { height: auto; }
section#contact .form-group textarea.form-control { height: 248px; }
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    color: #ced4da;
    font-family: 'Montserrat', 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
section#contact :-moz-placeholder {
    color: #ced4da;
    /* Firefox 18- */
    font-family: 'Montserrat', 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
section#contact ::-moz-placeholder {
    color: #ced4da;
    /* Firefox 19+ */
    font-family: 'Montserrat', 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
section#contact :-ms-input-placeholder {
    color: #ced4da;
    font-family: 'Montserrat', 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}








::-moz-selection {
    background: #fed136;
    text-shadow: none;
}

::selection {
    background: #fed136;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal {
    padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
    cursor: pointer;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
    display: table;
    content: ' ';
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #fed136;
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}



